aiocache>=0.11.1
aiodns>=2.0.0
aiohttp>=3.6.1
aioredis>=1.3.0
aiotasks>=1.0.0
aiozmq>=0.7.1
beautifulsoup4>=4.8.0
bpython
feedparser>=5.2.1
numpy
gensim
hiredis
langdetect
mako
motor>=2.0.0
msgpack-python
pymongo[tls]
nltk
pattern3
pycallgraph
sanic>=19.6.3
stop-words
ujson
uvloop>=0.13.0
