aiocache>=0.8.0
aiodns>=1.1.1
aiohttp>=2.3.2
aioredis>=1.0.0
aiotasks>=1.0.0
aiozmq>=0.7.1
beautifulsoup4
feedparser>=5.2.1
numpy
gensim
hiredis
langdetect
mako
motor>=1.1
msgpack-python
nltk
pattern3
pycallgraph
sanic>=0.6.0
stop-words
ujson
uvloop>=0.6.7
